html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Londrina Solid', cursive;
  -webkit-text-stroke: 0.06em #453831;

}
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
a {
  color: inherit;
  text-decoration: none;
  -webkit-text-stroke: 0.06em #453831;

}

* {
  transition: 0.3s;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
